.titulo2{
    padding-top: 32px;
}

.textos{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

.texto_grande, .texto_vermelho{
    font-size: 300px;
    color: var(--red);
    font-weight: bold;
}

.texto_vermelho{
    font-size: 32px;
}